// variables
@use "variables" as *;

// text alignment
.text {
  &-left {
    text-align: left;
  }
  &-center {
    text-align: center;
  }
  &-right {
    text-align: right;
  }
}

.text {
  &-primary {
    color: $text-primary;
  }
  &-secondary {
    color: $text-secondary;
  }
}

.text-capitalized {
  text-transform: uppercase;
}

.text-lead {
  font-weight: 500;
}

.d-flex {
  display: flex;
}

.justify {
  &-center {
    justify-content: center;
  }
  &-between {
    justify-content: space-between;
  }
}

.items {
  &-center {
    align-items: center;
  }
}

.gap {
  &-1 {
    gap: 0.25rem;
  }
  &-2 {
    gap: 0.5rem;
  }
  &-3 {
    gap: 0.75rem;
  }
  &-4 {
    gap: 1rem;
  }
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.spacer {
  &-y > * + * {
    margin-top: 1rem;
  }
  &-x > * + * {
    margin-left: 1rem;
  }
}

.spacer-lg {
  &-y > * + * {
    margin-top: 5rem;
  }
  &-x > * + * {
    margin-left: 5rem;
  }
}
